{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1 class="heading-txt" style="font-size: 2em; margin-bottom: 3%; text-align: center; color: #FF9900;">Contact</h1>
    <div style="margin-top: 5%;display: flex; justify-content: space-evenly; flex-wrap: wrap;">
        <div class="card text-white" style="background-color: #222222; max-width: 18rem; margin-bottom: 2rem;">
            <div class="card-header">Contact Information</div>
            <div class="card-body">
                <h5 class="card-title">Customer Care</h5>
                <p class="card-text">Name: John Doe </br> Mobile: 1234567890 </br> Email: john@example.com </p>
            </div>
        </div>
        <div class="card text-white" style="background-color: #222222; max-width: 18rem; margin-bottom: 2rem;">
            <div class="card-header">Contact Information</div>
            <div class="card-body">
                <h5 class="card-title">Lead Salesman</h5>
                <p class="card-text">Name: Jane Doe </br> Mobile: 0987654321 </br> Email: jane@example.com </p>
            </div>
        </div>
        <div class="card text-white" style="background-color: #222222; max-width: 18rem; margin-bottom: 2rem;">
            <div class="card-header">Contact Information</div>
            <div class="card-body">
                <h5 class="card-title">Customer Care</h5>
                <p class="card-text">Name: Jack Smith </br> Mobile: 1122334455 </br> Email: jack@example.com </p>
            </div>
        </div>
        <div class="card text-white" style="background-color: #222222; max-width: 18rem; margin-bottom: 2rem;">
            <div class="card-header">Contact Information</div>
            <div class="card-body">
                <h5 class="card-title">Customer Care</h5>
                <p class="card-text">Name: Jill Johnson </br> Mobile: 6677889900 </br> Email: jill@example.com </p>
            </div>
        </div>
        <div class="card text-white" style="background-color: #222222; max-width: 40rem; margin-bottom: 2rem;">
            <div class="card-header">Visiting Address</div>
            <div class="card-body">
                <h5 class="card-text">Best Cars HQ</br></br>MG Road 123, Bangalore, Karnataka, India</br></br></h5>
                <p class="card-text">Phone: 1234567890 </br> Email: info@example.com </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
