{% extends 'base.html' %}

{% block content %}
<style>
    h1 {
      color: #FFA500;
    }
  
    .table {
      border: 2px solid #FFA500;
      border-radius: 20px;
    }
  
    .table th,
    .table td {
      color: #FFFFFF;
    }
  </style>
  
  <h1>Our Dealerships</h1>
  
  <div class="container">
    <table class="table table-striped" id="table" data-filter-control="true">
      <thead>
        <tr>
          <th data-field="id">ID</th>
          <th data-field="name">Dealer Name</th>
          <th data-field="city">City</th>
          <th data-field="address">Address</th>
          <th data-field="zip">Zip</th>
          <!-- <th data-field="state" data-filter-control="select">State</th> -->
        </tr>
      </thead>
      <tbody>
        {% for dealer in dealerships %}
        <tr>
          <td>{{ dealer.id }}</td>
          <td><a href="{% url 'djangoapp:dealer_details' dealer.id %}">{{ dealer.full_name }}</a></td>
          <td>{{ dealer.city }}</td>
          <td>{{ dealer.address }}</td>
          <td>{{ dealer.zip }}</td>
          <!-- <td>{{ dealer.state }}</td> -->
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  
  <script>
    $(function() {
      $('#table').bootstrapTable()
    })
  </script>  
{% endblock %}