{% extends 'base.html' %}

{% block content %}
  <form action="{% url 'djangoapp:registration' %}" method="post">
    <div class="container">
      {% csrf_token %}
      <h1 style="color: #FFA500;">Sign Up</h1>
      <hr>
      <div class="form-group">
        <label for="username" style="color: #FFA500;"><b>User Name</b></label>
        <input type="text" class="form-control" placeholder="Enter User Name: " name="username" required>
        <label for="firstname" style="color: #FFA500;"><b>First Name</b></label>
        <input type="text" class="form-control" placeholder="Enter First Name: " name="firstname" required>
        <label for="lastname" style="color: #FFA500;"><b>Last Name</b></label>
        <input type="text" class="form-control" placeholder="Enter Last Name: " name="lastname" required>
        <label for="psw" style="color: #FFA500;"><b>Password</b></label>
        <input type="password" class="form-control" placeholder="Enter Password: " name="psw" required>
        {% if message %}
          <div class="alert alert-warning">
            {{ message }}
          </div>
        {% endif %}
        <button class="btn btn-primary" type="submit">Sign up</button>
      </div>
    </div>
  </form>
{% endblock %}
